<div class="container-adopt">
    <p class="text-adopt" >
        {{this.parrafoTrans}}
    </p>
    <p class="text-adopt">El animal en adopción es: {{this.animal.animalname}}</p>
    <br>
    <p class="text-adopt">¡Gracias por adoptar!</p> <br>
        <div class="div-id"> id <input type="text" class="id-text", name="idtx">
            <a href="/animals"><button class="adopt-btn"> Adoptar</button>
        </div> </a>
</div>