<h1 class="tittle-date">Get hello from IBM functions</h1>
    <div class="container-getDate">
        <div class="row-date">
            <div class="col-xs-12">
                <form method="post" action="https://us-south.functions.appdomain.cloud/api/v1/web/is708376%40iteso.mx_dev/default/actionProyecto" target="finalText">
                    <div class="form-group">
                        <label for="name">Get hello, bro</label>
                        <div class="div-btn">
                            <a> <button class="button-date" type="submit"> Press to get hello from IBM!
                                </button></a>
                        </div>
                        <div>
                            <h3>Result:  </h3>
                            <iframe name="finalText" id="finalText"></iframe>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>